{
    "bind_addr": "192.168.56.8",
    "bootstrap_expect": 3,
    "client_addr": "127.0.0.1",
    "datacenter": "dc1",
    "data_dir": "/var/lib/consul",
    "domain": "consul",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "zpjf5a4reDbJFpT6FeaF0LGxD0zBRPSRbIoUkLBt0ps=",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "retry_join": [
        "consul-0",
        "consul-1",
        "consul-2"
    ],
    "server": true,
    "start_join": [
        "consul-0",
        "consul-1",
        "consul-2"
    ]
}